::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    whitesmoke;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    whitesmoke;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    whitesmoke;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    whitesmoke;
}

::placeholder { /* Most modern browsers support this now. */
   color:    whitesmoke;
}

.img-custom {
    height: 100%!important;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-custom {
    display: grid!important;
    grid-template-columns: auto auto auto ;
}
.formInput-Textbox {
    color: white;
    background-color: rgba(221,221,221,0);
    height: 150px!important;
}

input[type=text], select, textarea {
    color: white;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    display:table-cell; 
    vertical-align:middle;
    background-color: rgba(221,221,221,0);
}

.formInput {
    display:table; 
    height:100%; 
    width:60%;
    margin: 0 auto;
    padding-top: 50px;
}

.btn-FormInput {
    padding-top: 10px;   
    width:60%;
    margin: 0 auto;
    color: white;
}
.row-custom {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 480px) {
    h2.name {
        font-size: 90px!important;
    }
    span.deco-big {
        font-size: 90px!important;
        padding-bottom: 20px;
    }
    .spacer-double-custom {
        height: 0px;
    }
}

@media screen and (max-height: 500px){  
    .img-custom {
        height: 146px!important;
        margin-top: 10px!important;
    }
    h2.name {
        display: none;
        visibility: hidden;
    }
    span.deco-big {
        display: none;
        visibility: hidden;
    }
    .spacer-single-custom {
        display: none;
        visibility: hidden;
    }
    .spacer-double-custom {
        display: none;
        visibility: hidden;
    }
    .custom-section {
        padding: 0px!important;
    }
    .div-custom {
        margin-bottom: 0px!important;
    }
}
